@media (max-width: 1400px) { 
	.header
	{
		padding: 30px 70px;
	}
	.first_screen > .first_screen__left
	{
		padding: 0 20px 0 52px;
	}
	.first_screen > .first_screen__left > .first_screen__left_wrap > .page_header
	{ 
		font-size: 50px;
	}
	.first_screen > .first_screen__left > .scroll_down
	{
		left: 52px;
	}
}

@media (max-width: 1200px) {
	.header
	{
		padding: 20px 20px;
	}
	.first_screen > .first_screen__left
	{
		padding: 0 20px 0 2px;
	}
	.first_screen > .first_screen__left > .first_screen__left_wrap > .page_header
	{ 
		font-size: 36px;
		margin-bottom: 20px;
	}
	.first_screen > .first_screen__left > .first_screen__left_wrap > .page_header__desc
	{
		font-size: 17px;
		margin-bottom: 35px;
	}
	.first_screen > .first_screen__left > .first_screen__left_wrap > .page_header__btn_wrap > .btn
	{
		margin-right: 15px;
	}
	.first_screen > .first_screen__left > .scroll_down
	{
		left: 2px;
	}
}
 
@media (min-width: 768px) and (max-width: 979px) { }
 
@media (max-width: 767px) { }
 
@media (max-width: 480px) { }