@import "../../bower_components/normalize.css/normalize.css";

$backgoundRed: #F9572E;
$backgroundGreen: #63D2C1;
$backgroundGrey: #F2F2F2;

$colorGrey: #666;
$colorGreen: #33B5A3;


*:before, *:after
{
	box-sizing: border-box;
}
.clear:before, .clear:after {  content: " ";  display: table;}
.clear:after { clear: both;}
html
{
	margin: 0;
	padding: 0;
}
body
{
	-webkit-text-size-adjust: none;
	color: #666;
	font-size: 16px;
	line-height: 1.5;
}
.wrapper
{
	max-width: 1200px;
	position: relative;
	margin: 0 auto;
}
h1, .h1 { font-size: 64px;}
h2, .h2 { }
h3, .h3 { }






/*-------CSS-----------*/

.header 
{ 
	position: absolute; 
	z-index: 1; 
	margin: auto; 
	left: 0; 
	top: 0; 
	right: 0; 
	padding: 45px 110px;
}
.header > .logo 
{ 
	float: left; 
}
.header > .nav 
{ 
	float: right; 
}

.footer
{
	background-color: $backgroundGrey;

}
.footer_top
{
	padding: 2em 0;
}
.footer_bottom
{
	border-top: 1px solid $colorGrey;
	text-align: center;
	padding: 1em 0;
}

.first_screen
{
	box-sizing: border-box;
	padding: 19px;
}

.first_screen > .first_screen__left,
.first_screen > .first_screen__right
{
	height: 100%;
	width: 50%; 
	float: left;
}

.first_screen > .video_wrap
{
	height: 100%;
	position: relative;
	background: url(/img/video_back.jpg) no-repeat scroll center / cover transparent;
}










.scrollTop { position: fixed; z-index: 1; bottom: 30px; right: 30px;}

